@import "tailwindcss";

:root {
  --font-primary: 'Inter', sans-serif;

  /* Brand */
  --color-primary: #1E3A8A;
  /* Blu Piemonte */
  --color-primary-light: #3B82F6;
  /* Azzurro */

  /* Accent / Highlight */
  --color-highlight: #FACC15;
  /* Giallo tenue */

  /* Background */
  --color-bg-main: #F8FAFC;
  /* Sfondo generale */
  --color-bg-card: #FFFFFF;
  /* Card / sezioni */

  /* Text */
  --color-text-main: #1F2937;
  /* Testo principale */
  --color-text-muted: #6B7280;
  /* Testo secondario */

  /* States */
  --color-success: #16A34A;
  --color-error: #DC2626;
  --color-warning: #F59E0B;
}



body {
  font-family: var(--font-primary);
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
}

.card {
  background-color: var(--color-bg-card);
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
}