@import "tailwindcss";

:root {
  --font-primary: "Inter", sans-serif;

  /* Brand */
  --color-primary: #1e3a8a;

  --color-primary-light: #3b82f6;

  /* Accent / Highlight */
  --color-highlight: #facc15;

  /* Background */
  --color-bg-main: #f8fafc;

  --color-bg-card: #ffffff;

  /* Text */
  --color-text-main: #1f2937;

  --color-text-muted: #6b7280;

  /* States */
  --color-success: #16a34a;
  --color-error: #dc2626;
  --color-warning: #f59e0b;

  
  /* Nuovi gradient argento / luxury */
    --gradient-main-from: #e3e6eb;
    /* argento chiaro */
    --gradient-main-to: #8fa3bf;
    /* blu freddo sofisticato */
  
    --gradient-luxury-from: #f0f2f5;
    /* argento metallizzato */
    --gradient-luxury-to: #7f6b99;
    /* blu/viola elegante */

    /* Gradient sabbia elegante */
    --gradient-sand-from: #f7f5f0;
      /* sabbia chiara delicata, quasi panna */
      --gradient-sand-to: #e9e3d8;
      /* sabbia beige soft, molto elegante */
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
}

nav,
footer {
  padding-inline: 1.5rem;
}

.card {
  background-color: var(--color-bg-card);
  border-radius: 0.5rem;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  padding: 1.5rem;
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
  padding: 0.75rem 1.5rem;

  border-radius: 0.5rem;

  font-weight: 600;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: var(--color-primary-light);
}
